.myQuote{
    padding: 15px;
  }
  
  .container-fluid{
    /* padding: 1px; */
    text-align: center;
    background-color: rgb(186, 186, 197);
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
  }
  